.principal {
    width: 100%;
    background-color: #e0e0e0;
    float: left;
    padding: 20px 8%;
}
.hist img {
    width: 40%;
    height: 40%;
    margin: 0 15px 15px 0;
    float: left;
}
.hist p{
    text-align: justify;
}
.hist h2{
    margin: 20px 0;
}
.rodape {
    width: 100%;
    float: left;
    background-color: #313131;
    padding: 20px 8%;
}
.rodape p {
    color: #ffffff;
}